.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.is-hidden {
    display: none;
}

.alert {
    font-size: 25px;
    padding: 8px;
    text-align: center;
    background-color: tomato;
    color: #fff;

}
