



.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(152, 120, 120);
    padding: 20px;
}

.alert {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    padding: 8px;
    text-align: center;
    background-color: tomato;
    color: #fff;
    // transform: translatey(-100%);
    // transition: transform 250ms ease-in-out;
}

// .alert.is-visible {
//     transform: translatey(0);
// }